.card-title{
  color: bisque;
}

.btn{
  display: flex;
  align-items: center;
  gap: 6px;
}

.container-buttons{
  width: 100%;
  margin: 0px 6px 6px 0px;

  display: flex;
  justify-content: end;
  gap: 12px;
}
