<div class="flex flex-col items-center justify-center text-gray-100 bg-gradient-to-r from-blue-500 to-blue-700">
  <div class="px-6 text-center">

    <h1 class="mb-4 text-4xl font-bold">Bem vindo à sua Lista de lugares favoritos!</h1>
    <p class="mb-6 text-lg">Explore, organize e compartilhe os lugares incríveis que você adora. Tudo em um só lugar.</p>
    <button
      type="button"
      *ngIf="isLoggedIn()"
      (click)="navegar()"
      class="flex items-center px-8 py-3 space-x-3 font-semibold text-blue-400 bg-white rounded-full hover:bg-gray-100"
    >
      Olá {{profile?.nome}}, clique aqui para aproveitar o site
    </button>

    <button
      type="button"
      *ngIf="!isLoggedIn()"
      (click)="logarComGoogle()"
      class="flex items-center px-8 py-3 space-x-3 font-semibold text-blue-700 bg-white rounded-full hover:bg-gray-100"
    >
      <img width="35px" src="https://img.icons8.com/color/1200/google-logo.jpg" alt="ícone do google">
      <p>Entrar com o Google</p>
    </button>

  </div>
</div>
