<header
  class="p-6 text-gray-100 shadow-lg bg-gradient-to-r from-blue-500 to-blue-800"
>
  <div class="text-center">
    <h1 class="text-3xl font-bold">{{ props.titulo }}</h1>
    <p class="mt-2 text-lg">{{ props.subTitulo }}</p>
  </div>

  <div class="mt-4">
    <hr class="border-t border-blue-300 opacity-50" />
  </div>

  <nav class="mt-4">
    <ul class="flex items-center justify-center gap-6 font-semibold text-gray-100">
      <li><a routerLink="/paginas/galeria" class="hover:text-yellow-300">Galeria</a></li>
      <li><a routerLink="/paginas/categorias" class="hover:text-yellow-300">Categoria</a></li>
      <li><a routerLink="/paginas/lugares" class="hover:text-yellow-300">Lugares</a></li>
      <li><a (click)="logout()" class="hover:text-yellow-300">Sair</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="py-4 mt-6 text-center bg-gradient-to-r from-gray-200 to-gray-400">
  <p>2025 Lugares legais. Todos os direitos reservados ©</p>
</footer>
